{
    "extends": ["airbnb"],
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": [2, "never"],
        "no-alert": 0,
        "no-console": 0,
        "no-plusplus": 0,
        "no-use-before-define": 0,
        "strict": ["error", "global"],
        "quotes": ["error", "double"]
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "PIXI": "readonly",
        "DAPjs": "readonly"
    }
}
