body {
	color: white;
	background-color: #303030;
	font-family: 'Roboto', sans-serif;
}

.nice-text {
	color: white;
}

#GameView {
	width: 512px;
	margin: auto;
}

#banner {
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
}

#connectButton {
	background-color:#44c767;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#connectButton:hover {
	background-color:#5cbf2a;
}

#connectButton:active {
	position:relative;
	top:1px;
}

#connectedPlayers {
	display: flex;
	justify-content: space-around;
	font-size: 18px;
	margin: auto;
	margin-bottom: 25px;
	width: 500px;
	padding: 10px;
}

#connectedPlayers > * {
	display: none;
}
